/* BorcEkleme.css veya App.css içindeki genel stil tanımları */

/* Genel Sayfa Stilleri */
body, #root, .ant-layout {
  height: 100%;
  background-color: #f0f2f5; /* Arka plan rengini ayarlayın */
}

/* Form Stilleri */
.form-container {
  max-width: 600px; /* Form genişliğini sınırlayın */
  margin: 30px auto; /* Ortalama */
  padding: 24px;
  background-color: #fff; /* Beyaz arka plan */
  border-radius: 8px; /* Köşeleri yuvarlak yapın */
  box-shadow: 0 3px 6px #ccc; /* Gölge ekleyin */
}

/* Buton Stilleri */
.ant-btn-primary {
  background-color: #1890ff; /* Mavi renk tonu */
  border-color: #1890ff;
}

.ant-btn-danger {
  color: #ff4d4f; /* Kırmızı renk tonu */
  background-color: #1890ff; /* Mavi renk tonu */

  border-color: #ff4d4f;
}

.ant-btn {
  margin-right: 8px; /* Butonlar arası boşluk */
}

/* Arama ve Sıralama Bileşenleri */
.search-and-filter-container {
  display: flex;
  justify-content: space-between;
}

/* Listeleme Stilleri */
.list-header {
  background-color: #1890ff; /* Mavi başlık rengi */
  color: #fff; /* Beyaz yazı rengi */
  padding: 10px 20px; /* Başlık padding'i */
  border-radius: 8px 8px 0 0; /* Üst köşeleri yuvarlak yapın */
}

.list-footer {
  background-color: #1890ff; /* Mavi alt bilgi rengi */
  color: #fff; /* Beyaz yazı rengi */
  padding: 10px 20px; /* Alt bilgi padding'i */
  border-radius: 0 0 8px 8px; /* Alt köşeleri yuvarlak yapın */
  text-align: center; /* Metni ortala */
}

/* Responsive Tasarım */
@media (max-width: 1000px) {
  .form-container {
    margin: 10px; /* Mobil cihazlarda kenar boşluklarını azaltın */
  }
  .select-and-radio-container {
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  .radio{
    margin-bottom: 10px;
  }
  .header-logo {
display: none;  }

.header-container {
  display: flex;
  align-items: center;
  background-color: #d61a67;
  justify-content: center;
}
}
.select-and-radio-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.list-item-content {
  display: flex;
  flex-direction: column; /* Varsayılan olarak yığılmış görünüm */
  width: 100%;
}

.list-item-actions {
  display: flex;
  justify-content: center; /* Butonları ortala */
  margin-top: 10px; /* Meta verilerden biraz boşluk bırak */
}

/* Büyük ekranlar için stiller */

  .list-item-content {
    flex-direction: row; /* Büyük ekranlarda yan yana görünüm */
    justify-content: space-between;
    align-items: center;
  }

  .list-item-actions {
    flex-direction: row;
  }


/* Liste başlığı ve detayları için stil */
.list-item-meta {
  flex: 1; /* Meta verilerin esnek olmasını sağla */
}

/* Metinler ve etiketler için stil */
.ant-list-item-meta-description {
  display: flex; /* Her metni yeni satırda göstermek yerine yana yana göster */
  flex-direction: column; /* Mobil cihazlar için dikey düzen */
  margin-right: 10px; /* Sağ tarafta biraz boşluk bırak */
}

/* Büyük ekranlarda metinlerin yanyana olması için stil */

  .ant-list-item-meta-description {
    flex-direction: row; /* Büyük ekranlarda metinleri yanyana göster */
    flex-wrap: wrap; /* Eğer yer kalmazsa alt satıra geç */
  }
  
  .ant-list-item-meta-description > span {
    margin-right: 15px; /* Metinler arası boşluk */
    margin-bottom: 0; /* Alt satıra geçildiğinde boşluk bırakma */
  }
/* Mobil cihazlar için butonları alt alta ve sağa hizala */
@media (max-width: 768px) {
  .list-item-actions {
    display: flex;
    flex-direction: column; /* Butonları dikey olarak sırala */
    align-items: flex-end; /* Butonları sağa hizala */
    margin-top: 10px;
  }

  .list-item-actions button {
    margin-bottom: 5px; /* Butonlar arası dikey boşluk */
  }

  /* Son butonun altında boşluk bırakma */
  .list-item-actions button:last-child {
    margin-bottom: 0;
  }
}


.borc-ozet-header {
  padding: 10px;
  background-color: #f0f2f5;
  border-radius: 8px;
  display: flex; /* Flex container olarak ayarlayın */
  flex-direction: column; /* Elementleri dikey olarak sıralayın */
  align-items: center; /* İçeriği yatay olarak ortala */
}

.borc-ozet-title {
  margin: 0;
  text-align: center; /* Başlık metnini ortala */
}

.borc-ozet-info {
  display: flex;
  justify-content: center; /* Bilgi bloklarını yatay olarak ortala */
  margin-top: 10px;
  width: 100%; /* Genişliği parent container'a uydur */
  flex-wrap: wrap; /* İçerik fazla ise yeni satıra geç */
}

.borc-ozet-info div {
  display: flex;
  align-items: center;
  margin: 5px; /* Her bilgi bloğu arasında boşluk bırakın */
}

.borc-ozet-info-text {
  margin-left: 8px;
}

/* Medya sorguları ile responsive düzenlemeler */
@media (max-width: 768px) {
  .borc-ozet-info {
    flex-direction: column;
    align-items: center;
  }

  .borc-ozet-info div {
    margin-bottom: 8px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  background-color: #d61a67;
}

.header-logo {
  height: 52px; /* Logonun yüksekliğini ayarlayın */
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px; /* Ant Design'ın varsayılan header yüksekliği */
}

.header-container .ant-menu-item:hover {
  background-color: #ff9f9f !important; /* Özelleştirilmiş hover arka plan rengi */
}

.header-logo {
  height: 52px; /* Logonun yüksekliğini ayarlayın */
  margin-right: 20px; /* Sağdaki boşluk */
}

/* Ekran genişliği 768px'den küçük olduğunda menü öğeleri için stiller */
@media (max-width: 768px) {
  .header-container .ant-menu {
    justify-content: flex-end; /* Menü öğelerini sağa hizala */
  }

  .header-container {
    flex-direction: column; /* Küçük ekranlarda dikey hizalama */
  }

  .header-container .ant-menu {
    width: 100%; /* Menüyü genişlet */
    justify-content: space-between; /* Menü öğelerini kenarlara hizala */
  }
}
